.card {
    padding: 1em;
    border: 2px solid blue;
    &__low {
        border: 2px solid green;
    }
    &__medium {
        
    }
    &__high {
        border: 2px solid purple;
    }
    &__very_high {
        border: 2px solid red;
    }
}